<h1>New Contact</h1>

<form action="/contacts" method="post">

<label for="contact_name">Enter Name </label>
<input id="contact_name" name="contact_name" type="text">

<label for="contact_phone">Phone Number: </label>
<input id="contact_phone" name="contact_phone" type="text">

<label for="contact_email">Email: </label>
<input id="contact_email" name="contact_email" type="text">


<button type="submit">Create Contact</button>


</form>