<h1><%= @contact.name %></h1>

<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>

</br>


<p><a href="/contacts/<%= @contact.id %>/edit">Edit Contact </a></p>
</br>

<p><a href="/contacts">Return to Contact Listing</a></p>